header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Aligns children to opposite ends */
  background-color: #f8f8f8;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .logo {
  max-height: 80px;
  width: auto;
  margin-right: auto; /* Ensures the logo stays to the left */
}

.navigation-menu ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center; /* Center align menu items */
}

.navigation-menu li {
  padding: 0 1rem;
}

.navigation-menu a,
.login a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.login {
  display: flex; /* Aligns the login link to the right */
  align-items: center;
  padding-left: 1rem; /* Adds a bit of space between navigation and login link */
}

/* If you want the navigation menu and login to be even further to the right */
.navigation-menu {
  margin-left: auto;
}
