.home-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #f0f8ff;
}

.home-intro {
  padding: 15px;
  margin-top: 20px;
  background-color: #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  width: 100%;
  max-width: 150px;
  text-align: center;
}
@media (max-width: 768px) {
  .card {
    width: 48%;
  }
}
