.pokedex-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  margin: 20px;
}
.card-container {
  cursor: pointer;
}
.card-container img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .pokedex-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
